body {
	background-image: url('img/background.jpg');	
}

h1{
	font-size: 20pt;
	font-weight: bold;
	color:#000000;
	margin-bottom:5px;
}
table{
	margin:auto;
	margin-top:40px;
	max-width: 100%;
  	background-color: transparent;
}

tr{
	padding:10px 10px;
}
tbody{
	padding:10px 10px;
}

h2{
	font-size:18pt;
	text-align: center;	
	font-weight: bold;
	color:#000000;
	margin-bottom:10px;
}

h3{
	font-size: 16pt;
	font-weight:bold;
	margin-top:40px;
	color:#000000;
}

h4{
	font-size:12pt;
	text-indent: 0%;
	font-weight: bold;
	color:#D5CCC3;
}

h5{
	font-size:11pt;
	text-indent: 5%;
	color:#D5CCC3;
}

h6{
	font-size:8pt;
	text-indent: 15%;
	color:#D5CCC3;
}

.error{
	font-size:12pt;
	text-indent: 0%;
	font-weight: bold;
	color:#FF0000;
}

p{
	font-size: 10pt;
	text-align: justify;	
	color: #FFFFFF;
	margin-top: 5px;
}

form{
	margin-top: 30px;
	text-align:left;
}

.btn{
	margin-top:10px;	
}

a, a:active, a:hover, a:focus
{
	color: #000000;
	font-weight:bold;
}

a:hover, a:focus
{
	color:#FFFFFF;
	text-decoration:none;
}

.logMessage{
	
	margin-top: 40px;
	text-align: center;
}

.header
{	
	background-image: url('img/banner.jpg');
	height: 272px;
	width:950px;
	background-repeat:no-repeat;
	background-position:  bottom center;
	margin: auto;
	margin-top: 10px;
	color:#FFFFFF;	
}

.login  {
padding-left: 35px;
padding-top: 15px;
text-align: left;
color: #000000;
}

.body
{
	background-image: url('img/bodyBackground.jpg');
	width:900px;
	margin: auto;
}

.posts{	
	min-height:100%;
	height: inherit;	
}

.post{
	margin-bottom:30px;
}

.postContent{
	font-size: 12pt;
	text-align: justify;	
	color: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

.footer{
	padding-top:5px;
	width:900px;
	background-image: url('img/footerBackground.jpg');
	height: 30px;
	text-align: center;
	margin: auto;	
}

.menu{
	/*border-left:#000000 solid 1px;*/
	background-image: url('img/menuBackground.jpg');
	height:inherit;
}

.menu  a, .menu a:active {
	color:#D5CCC3;
	text-decoration: underline;
}

.menu a:focus,.menu a:hover{
	color:#000000;
}

.allPosts{
	margin-bottom: 30px;
}

.authorName{
	font-weight:bold;
	font-size:14px;
	margin-right:5px;
}

.date{
	font-size: 8pt;
	font-style: italic;
}

.links{
	font-size: 9pt;
	font-style: italic;
	text-align: center;
	margin-top:10px;
	margin-right:5px;
}

.menuItem{
	text-align:center;
	font-size:12pt;
	margin-top:10px;
}

textarea{
	min-width:300px;
	min-height:150px;
	width:643px;
	height:50px;
}

.addPostTitle{
	width:500px;
}

#nav{
	text-align:center;
	margin:auto;
	bottom:0px;
}

#nav ul {
        list-style-type:none;  
        float:left; 
        position:relative; 
        left:40%;
}

#nav li {
        float:left; 
        margin:0 5px; 
        position:relative; 
        right:40%; 
}

#nav li.current a{
        color:#F00;
}

div.clear {
        clear:both;
}



